<h2 style="text-align: left">
  Email từ CronjobLog của Sale Portal
</h2>

<p style="text-align: left">
  Tên Job: {{ job_name }}
</p>

<p style="text-align: left">
  Thông báo lỗi: {{ message_error }}
</p>

<hr width="40%" align="center" color="#500050"/>
<p style="text-align: center">
  <b> By VNpay Sale Management System.</b>
</p>

<p style='color:black;text-align: center'> Đây là email được gửi tự động từ hệ thống. Vui lòng không phản hồi lại email này  </p>
<p style='color:red;text-align: center;font-weight: bold'> Chúc bạn có một ngày tốt lành  </p>
