{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load api_url %}

{% block title %}
  Merchant - {{ block.super }}
{% endblock %}

{% block header-script %}
  <script src="{% static 'global_assets/js/plugins/extensions/jquery_ui/interactions.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/notifications/pnotify.min.js' %}"></script>
{% endblock %}

{% block page-title %}
  <div class="page-title d-flex p-3">
    <h4><i class="icon-cube3 mr-2"></i> <span class="font-weight-semibold">Merchant</span></h4>
  </div>
{% endblock %}

{% block breadcrumb %}
  <div class="d-flex">
    <div class="breadcrumb">
      <a href="{% url 'home' %}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Trang chủ</a>
      <span class="breadcrumb-item active">Merchant</span>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="card">
      <div class="card-header header-elements-inline">
        <h5 class="card-title">Danh sách Merchant</h5>
      </div>

      <div class="card-body pb-0">
        <form id="search-form">
          <fieldset class="mb-1">
            <div class="form-group row">
              <div class="col-lg-12">
                <div class="row">

                  <div class="col-lg-2">
                    <input type="text" class="form-control" name="merchant_code" placeholder="Mã, Brand hoặc Tên">
                  </div>

                  <div class="col-lg-2">
                    <select class="form-control select-search" name="staff_id" id="staff_id" data-fouc>
                      <option value="">--- Chọn NV Sale ---</option>
                    </select>
                  </div>

                  <div class="col-lg-2">
                    <select class="custom-select" name="status">
                      <option value="">--- Chọn trạng thái ---</option>
                      <option value="-1">Đã đóng</option>
                      <option value="1">Hoạt động</option>
                      <option value="2">Khởi tạo</option>
                      <option value="3">Chờ KD duyệt</option>
                      <option value="4">Chờ KT duyệt</option>
                      <option value="5">KD từ chối</option>
                      <option value="6">KT từ chối</option>
                    </select>
                  </div>

                  <div class="col-lg-2">
                    <div class="input-group">
                      <input type="text" class="form-control pickadate-accessibility" name="from_date" id="from_date"
                             placeholder="Từ ngày ...">
                      <span class="input-group-prepend">
                      <span class="input-group-text bg-primary-600 border-primary-600"><i
                          class="icon-calendar3"></i></span>
                    </span>
                    </div>
                  </div>

                  <div class="col-lg-2">
                    <div class="input-group">
                      <input type="text" class="form-control pickadate-accessibility" name="to_date" id="to_date"
                             placeholder="Đến ngày ...">
                      <span class="input-group-prepend">
                      <span class="input-group-text bg-primary-600 border-primary-600"><i
                          class="icon-calendar3"></i></span>
                    </span>
                    </div>
                  </div>

                  <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary"><i class="icon-search4 mr-2"></i> Tìm kiếm</button>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <table class="table datatable-basic table-hover" id="datatables" style="width:100%">
        <thead>
        <tr>
          <th>Mã</th>
          <th>Brand</th>
          <th>Tên Merchant</th>
          <th>NV ký HĐ</th>
          <th>Ngày tạo</th>
          <th>Số lượng DCNTT</th>
          <th>KH mới hôm qua</th>
          <th>SLGD hôm qua</th>
          <th>GTGD hôm qua</th>
          <th>SLGD 7d</th>
          <th>SLGD 30d</th>
          <th>Tình trạng</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script language="javascript" type=text/javascript>
      var url_api = "{% get_api_url %}";
  </script>
  <script src="{% static 'global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
  <!-- date picker-->
  <script src="{% static 'global_assets/js/plugins/ui/moment/moment.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/pickers/pickadate/picker.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/pickers/pickadate/picker.date.js' %}"></script>
  <script src="{% static 'assets/js/picker_date.js' %}"></script>
  <!--My js-->
  <script src="{% static 'assets/js/merchant/index.js' %}"></script>
{% endblock %}