{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load api_url %}

{% block title %}
  Merchant - {{ block.super }}
{% endblock %}

{% block header-script %}
  <script src="{% static 'global_assets/js/plugins/extensions/jquery_ui/interactions.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/notifications/sweet_alert.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/notifications/pnotify.min.js' %}"></script>
{% endblock %}

{% block page-title %}
  <div class="page-title d-flex p-3">
    <h4><i class="icon-cube3 mr-2"></i> <span class="font-weight-semibold">Merchant</span></h4>
  </div>
{% endblock %}

{% block breadcrumb %}
  <div class="d-flex">
    <div class="breadcrumb">
      <a href="{% url 'home' %}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Trang chủ</a>
      <span class="breadcrumb-item active">Merchant</span>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="card">
      <div class="card-header header-elements-inline">
        <h5 class="card-title">Danh sách Merchant</h5>
      </div>

      <div class="card-body pb-0">
        <form id="search-form">
          <fieldset class="mb-1">
            <div class="form-group row">
              <div class="col-lg-12">
                <div class="row">

                  <div class="col-lg-2">
                    <input type="text" class="form-control" name="merchant_code" placeholder="Mã, Brand hoặc Tên">
                  </div>

                  <div class="col-lg-2">
                    <select class="form-control select-search" name="staff_id" id="staff_id" data-fouc>
                      <option value="">--- Chọn NV Sale ---</option>
                    </select>
                  </div>

                  <div class="col-lg-2">
                    <select class="custom-select" name="status">
                      <option value="">--- Chọn trạng thái ---</option>
                      <option value="1">Hoạt động</option>
                      <option value="-1">Không hoạt động</option>
                      <option value="0">Khác</option>
                    </select>
                  </div>

                  <div class="col-lg-2">
                    <div class="input-group">
                      <input type="text" class="form-control pickadate-accessibility" name="from_date" id="from_date"
                             placeholder="Từ ngày ...">
                      <span class="input-group-prepend">
                      <span class="input-group-text bg-primary-600 border-primary-600"><i
                          class="icon-calendar3"></i></span>
                    </span>
                    </div>
                  </div>

                  <div class="col-lg-2">
                    <div class="input-group">
                      <input type="text" class="form-control pickadate-accessibility" name="to_date" id="to_date"
                             placeholder="Đến ngày ...">
                      <span class="input-group-prepend">
                      <span class="input-group-text bg-primary-600 border-primary-600"><i
                          class="icon-calendar3"></i></span>
                    </span>
                    </div>
                  </div>

                  <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary"><i class="icon-search4 mr-2"></i> Tìm kiếm</button>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <table class="table datatable-basic table-hover" id="datatables">
        <thead>
        <tr>
          <th>Mã</th>
          <th>Brand</th>
          <th>Tên</th>
          <th>NV ký HĐ</th>
          <th>Trạng thái</th>
          <th>Ngày tạo</th>
          <th>SL khách mới hôm qua</th>
          <th>SLGD hôm qua</th>
          <th>GTGD hôm qua</th>
          <th>SLGD 7d</th>
          <th>SLGD 30d</th>
          <th>SL cửa hàng</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <div id="merchant_detail" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thông tin Merchant</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <div class="table-responsive">
            <table class="table">
              <tbody>
              <tr>
                <td style="width: 30%"><strong>Code</strong></td>
                <td id="merchant_code"></td>
              </tr>
              <tr>
                <td style="width: 30%"><strong>Merchant Name</strong></td>
                <td id="merchant_name"></td>
              </tr>
              <tr>
                <td style="width: 30%"><strong>Địa chỉ</strong></td>
                <td id="address"></td>
              </tr>
              <tr>
                <td style="width: 30%"><strong>Department</strong></td>
                <td id="department"></td>
              </tr>
              <tr>
                <td style="width: 30%"><strong>NV sale ký HĐ</strong></td>
                <td id="staff"></td>
              </tr>
              <tr>
                <td style="width: 30%"><strong>Trạng thái</strong></td>
                <td id="status"></td>
              </tr>
              <tr>
                <td style="width: 30%"><strong>Loại</strong></td>
                <td id="type"></td>
              </tr>
              <tr>
                <td style="width: 30%"><strong>Ngày tạo</strong></td>
                <td id="created_date"></td>
              </tr>
              <tr>
                <td style="width: 30%"><strong>Đồng bộ</strong></td>
                <td id="synchronized_status"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="merchant_edit" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Chỉnh sửa Merchant</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <form class="form-horizontal" id="merchant-edit" method="post">
          {% csrf_token %}
          <div class="modal-body">
            <input type="hidden" class="form-control" id="edit_merchant_id" name="merchant_id" disabled>
            <div class="form-group row">
              <label class="col-form-label col-sm-3">Code</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="edit_merchant_code" disabled>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-sm-3">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="edit_merchant_name" disabled>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-sm-3">Người quản lý</label>
              <div class="col-sm-9">
                <select class="form-control select-search" name="pic_id" id="pic_id" data-fouc>
                  <option value="">--- Chọn NV Quản Lý ---</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-sm-3">Loại</label>
              <div class="col-sm-9">
                <select class="form-control" id="edit_type" name="type">
                  <option value="0">Cố định</option>
                  <option value="1">Di chuyển</option>
                </select>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            <button type="button" class="btn bg-primary" id="button-update">Cập nhật</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script language="javascript" type=text/javascript>
      var url_api = "{% get_api_url %}";
  </script>
  <script src="{% static 'global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
  <script src="{% static 'assets/js/merchant/merchant.js' %}"></script>
{% endblock %}