{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load api_url %}

{% block title %}
  Merchant - {{ block.super }}
{% endblock %}

{% block header-script %}
  <script src="{% static 'global_assets/js/plugins/extensions/jquery_ui/interactions.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/notifications/sweet_alert.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/notifications/pnotify.min.js' %}"></script>
{% endblock %}

{% block page-title %}
  <div class="page-title d-flex p-3">
    <h4><i class="icon-cube3 mr-2"></i> <span class="font-weight-semibold">Merchant</span></h4>
  </div>
{% endblock %}

{% block breadcrumb %}
  <div class="d-flex">
    <div class="breadcrumb">
      <a href="{% url 'home' %}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Trang chủ</a>
      <span class="breadcrumb-item active">Merchant</span>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="card">
      <div class="card-header header-elements-inline">
        <h5 class="card-title">Danh sách Merchant</h5>
      </div>

      <div class="card-body pb-0">
        <form id="search-form">
          <fieldset class="mb-1">
            <div class="form-group row">
              <div class="col-lg-12">
                <div class="row">

                  <div class="col-lg-2">
                    <input type="text" class="form-control" name="merchant_code" placeholder="Mã, Brand hoặc Tên">
                  </div>

                  <div class="col-lg-2">
                    <select class="form-control select-search" name="staff_id" id="staff_id" data-fouc>
                      <option value="">--- Chọn NV Sale ---</option>
                    </select>
                  </div>

                  <div class="col-lg-2">
                    <select class="custom-select" name="status">
                      <option value="">--- Chọn trạng thái ---</option>
                      <option value="-1">Đã đóng</option>
                      <option value="1">Hoạt động</option>
                      <option value="2">Khởi tạo</option>
                      <option value="3">Chờ KD duyệt</option>
                      <option value="4">Chờ KT duyệt</option>
                      <option value="5">KD từ chối</option>
                      <option value="6">KT từ chối</option>
                    </select>
                  </div>

                  <div class="col-lg-2">
                    <div class="input-group">
                      <input type="text" class="form-control pickadate-accessibility" name="from_date" id="from_date"
                             placeholder="Từ ngày ...">
                      <span class="input-group-prepend">
                      <span class="input-group-text bg-primary-600 border-primary-600"><i
                          class="icon-calendar3"></i></span>
                    </span>
                    </div>
                  </div>

                  <div class="col-lg-2">
                    <div class="input-group">
                      <input type="text" class="form-control pickadate-accessibility" name="to_date" id="to_date"
                             placeholder="Đến ngày ...">
                      <span class="input-group-prepend">
                      <span class="input-group-text bg-primary-600 border-primary-600"><i
                          class="icon-calendar3"></i></span>
                    </span>
                    </div>
                  </div>

                  <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary"><i class="icon-search4 mr-2"></i> Tìm kiếm</button>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <table class="table datatable-basic table-hover" id="datatables" style="width:100%">
        <thead>
        <tr>
          <th>Mã</th>
          <th>Brand</th>
          <th>Tên Merchant</th>
          <th>NV ký HĐ</th>
          <th>Ngày tạo</th>
          <th>Số lượng DCNTT</th>
          <th>KH mới hôm qua</th>
          <th>SLGD hôm qua</th>
          <th>GTGD hôm qua</th>
          <th>SLGD 7d</th>
          <th>SLGD 30d</th>
          <th>Tình trạng</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <div id="merchant_detail" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" id="modal-shop-detail">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thông tin chi tiết Merchant</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body p-0">
          <!-- merchant information -->
          <legend class="text-uppercase font-size-sm font-weight-bold pl-3 pr-3 text-primary">Thông tin merchant
          </legend>
          <div class="row">
            <div class="col-md-7">
              <div class="col-md-12 mb-2 d-flex">
                <label class="col-lg-3 font-weight-bold">Mã Merchant</label>
                <label class="col-lg-9" id="merchant_code"></label>
              </div>

              <div class="col-md-12 mb-2 d-flex">
                <label class="col-lg-3 font-weight-bold">Merchant Brand</label>
                <label class="col-lg-9" id="merchant_brand"></label>
              </div>

              <div class="col-md-12 mb-2 d-flex">
                <label class="col-lg-3 font-weight-bold">Tên Merchant</label>
                <label class="col-lg-9" id="merchant_name"></label>
              </div>

              <div class="col-md-12 mb-2 d-flex">
                <label class="col-lg-3 font-weight-bold">Địa chỉ</label>
                <label class="col-lg-9" id="merchant_address"></label>
              </div>
            </div>

            <div class="col-md-5">
              <div class="col-md-12 mb-2 d-flex">
                <label class="col-lg-4 font-weight-bold">Ngành nghề</label>
                <label class="col-lg-8" id="merchant_type"></label>
              </div>

              <div class="col-md-12 mb-2 d-flex">
                <label class="col-lg-4 font-weight-bold">NV ký HĐ</label>
                <label class="col-lg-8" id="merchant_staff"></label>
              </div>

              <div class="col-md-12 mb-2 d-flex">
                <label class="col-lg-4 font-weight-bold">Ngày tạo</label>
                <label class="col-lg-8" id="merchant_created_date"></label>
              </div>

              <div class="col-md-12 mb-2 d-flex">
                <label class="col-lg-4 font-weight-bold">Tình trạng</label>
                <label class="col-lg-8" id="merchant_status"></label>
              </div>
            </div>
          </div>
          <!-- shop information -->
          <legend class="text-uppercase font-size-sm font-weight-bold pl-3 pr-3 text-primary">Thông tin giao dịch</legend>
          <div class="row">
            <div class="col-md-4">
              <div class="col-md-12 mb-0 d-flex">
                <label class="col-lg-7 font-weight-bold">SL KH mới hôm qua</label>
                <label class="col-lg-5" id="number_of_new_customer"></label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="col-md-12 mb-0 d-flex">
                <label class="col-lg-7 font-weight-bold">SLGD hôm qua</label>
                <label class="col-lg-5" id="number_of_tran"></label>
              </div>
              <div class="col-md-12 mb-0 d-flex">
                <label class="col-lg-7 font-weight-bold">GTGD hôm qua</label>
                <label class="col-lg-5" id="value_of_tran"></label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="col-md-12 mb-0 d-flex">
                <label class="col-lg-7 font-weight-bold">SLGD 7 ngày</label>
                <label class="col-lg-5" id="number_of_tran_7d"></label>
              </div>
              <div class="col-md-12 mb-0 d-flex">
                <label class="col-lg-7 font-weight-bold">GTGD 30 ngày</label>
                <label class="col-lg-5" id="number_of_tran_30d"></label>
              </div>
            </div>
          </div>

          <!-- shop information -->
          <legend class="text-uppercase font-size-sm font-weight-bold pl-3 pr-3 text-primary">Danh sách terminal trực thuộc
          </legend>

          <div class="row">
            <div class="col-md-12">
              <table class="table table-togglable table-hover" id="tableTerminal">
                <thead>
                <tr>
                  <th data-toggle="true">Terminal ID</th>
                  <th data-hide="phone">Tên Terminal</th>
                  <th data-hide="phone">Địa chỉ</th>
                  <th data-hide="phone">Trạng thái Terminal</th>
                </tr>
                </thead>
                <tbody id="tableTerminalBody">
                </tbody>
              </table>
            </div>
          </div>

          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script language="javascript" type=text/javascript>
      var url_api = "{% get_api_url %}";
  </script>
  <script src="{% static 'global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
  <!-- date picker-->
  <script src="{% static 'global_assets/js/plugins/ui/moment/moment.min.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/pickers/pickadate/picker.js' %}"></script>
  <script src="{% static 'global_assets/js/plugins/pickers/pickadate/picker.date.js' %}"></script>
  <script src="{% static 'assets/js/picker_date.js' %}"></script>
  <!--My js-->
  <script src="{% static 'assets/js/merchant/merchant.js' %}"></script>
{% endblock %}