@media screen and (max-width: 768px) {
    .modal-full {
        margin: 0;
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .content {
        padding: 1.25rem 0.25rem;
    }

    .icon-info22 {
        display : none;
    }

    .hide-search-view{
        display : none ;
    }

    .shop-data-table td:not(:nth-child(2)), .shop-data-table th:not(:nth-child(2)) {
        display : none;
    }
}

@media screen and (min-width: 601px) {
    .shop-data-table td:nth-child(2), .shop-data-table th:nth-child(2) {
        display : none;
    }
}

.border-left-care {
    color: #4caf50;
}

.border-left-not-care {
    color : #f44336
}

.mi-more-horiz {
    font-size: 20px;
}

