{% load logo %}
{% load static %}
{% load staticfiles %}

<div class="navbar-nav" id="navbar-nav-hide">
  <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block" onclick="showMenu()">
    <i class="icon-paragraph-justify3"></i>
  </a>
</div>

<div class="navbar-brand">
  <a href="{% url 'home' %}" class="d-inline-block" style="margin: -5px 0 -10px 0">
    <img src="{% get_logo_url %}" alt="" style="width: {% get_logo_width %};height: auto">
  </a>
</div>

<div class="d-md-none">
  <span class="badge bg-success-300 ml-md-3 mr-3" onclick="loadOtherPageNoti()">Ticket CSKH</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
    <i class="icon-user-lock"></i>
  </button>
  <button class="navbar-toggler sidebar-mobile-main-toggle" type="button" onclick="showMenu()">
    <i class="icon-paragraph-justify3"></i>
  </button>
</div>

<div class="collapse navbar-collapse" id="navbar-mobile">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a href="#" class="navbar-nav-link caret-0" onclick="loadOtherPageNoti()">
        <span class="text-success-300">Ticket CSKH</span>
      </a>
    </li>
    <li class="nav-item dropdown dropdown-user">
      <a href="https://road.vnpay.vn" class="navbar-nav-link d-flex align-items-center dropdown-toggle"
         data-toggle="dropdown">
        <img src="{% static 'global_assets/images/image.png' %}" class="rounded-circle mr-2" height="34" alt="">
        <span id="username"></span>
      </a>

      <div class="dropdown-menu dropdown-menu-right">
        <a href="#" class="dropdown-item logout"><i class="icon-square-left"></i> Đăng xuất</a>
      </div>
    </li>
  </ul>
</div>

<script>
    function loadOtherPageNoti() {
        if (confirm('Chuyển hướng đến trang tạo ticket https://road.vnpay.vn')) {
            window.location.replace("https://road.vnpay.vn");
        }
    }
</script>
