{% load tags %}
{% load site_url %}

<div class="card card-sidebar-mobile">
  <ul class="nav nav-sidebar" data-nav-type="accordion">

    <!-- /main -->
    <li class="nav-item">
      <a href="{% url 'home' %}" class="nav-link {% active_url 'home' %}">
        <i class="icon-home2"></i>
        <span class="menu menu-hover">Trang chủ</span>
      </a>
    </li>

    <li class="nav-item nav-item-submenu">
      <a href="#" class="nav-link"><i class="icon-price-tag2"></i> <span>Quản lý ĐCNTT</span></a>
      <ul class="nav nav-group-sub">
        <li class="nav-item sp-merchant">
          <a href="{% url 'merchant:index' %}" class="nav-link {% active_url 'merchant:index' %}">
            <i class="icon-cube3"></i>
            <span class="menu menu-hover">Merchant</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /main -->

    <li class="nav-item user-action" style="display: none">
      <a href="#" class="nav-link logout">
        <i class="icon-square-left"></i>
        <span class="menu menu-hover">Đăng xuất</span>
      </a>
    </li>
  </ul>
</div>